<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">会員一覧</h3>
    </div>
   </div>
 </div>

 <div class="container">
  <div class="row">
     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">プロフィール画像</th>
       <th scope="col">会員id</th>
       <th scope="col">氏名</th>
       <th scope="col">ステータス</th>
    </tr>
  </thead>
   <tbody>
     <% @users.each do |user| %>
    <tr>
     <td><%= image_tag user.image.variant(resize: '100x100'), class: 'user-image' if user.image.attached? %></td>
     <td><%= user.id %></td>
     <td><%= link_to (user.last_name + user.first_name),admin_user_path(user.id) %></td>

     <td>
       <% if user.is_deleted %>
        退会
      <% else %>
        有効
      <% end %>
     </td>
    </tr>
<% end %>
   </tbody>
   </table>
   <%#= paginate @users %>
  </div>
</div>

